.add{
    border-radius: 50px;
    padding: 4px;
    width: 80px;
    height: 80px;
    margin: 8px;
    color: var(--deep-blue);
    font-size: 56px;
    cursor: pointer;
    background: no-repeat linear-gradient(to bottom right,var(--ocean-blue), var(--white));
    box-shadow: 3px 3px 30px var(--white);
    border: none;
    position:fixed;
    top: 85%;
    left: 2%;
    z-index: 15;

    transform: rotate(0);
    transition: .6s ease;
}

.add:hover{
    transform: rotate(360deg);
    width: 100px;
    height: 100px;

}