.mainTitle{
    display: grid;
    justify-content: center;
    align-content: center;
    border-radius: 12px;
    box-shadow: -4px -4px black;
    height: 50px;
    background-color: var(--deep-blue);
    border: 2px solid var(--white);
    color: var(--white);
}

h1{
    font-size:'32px';
    text-align: 'center';
    margin: 8px;
    padding: '48px';
    color: var(--pink-red);
}

.mainTitle span{
    font-weight: 300;
}
