li{
    border-radius: 12px;
    width: 500px;
    height: 30px;
    padding: 16px;
    margin: 12px;
    display: grid;
    justify-content: center;
    align-content: center;
    box-shadow: -3px -3px 5px black;
    background-color: var(--light-blue);
    color: var(--deep-blue);
    font-family: 'Julee', cursive;
}

.mainItemdiv{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 40px;
    padding: 8px;
}

.leftside{
    width: 500px;
    display: grid;
    justify-content: left;
    align-content: center;
    padding-left: 32px;
}

.rightside{
    display: grid;
    justify-content: center;
    align-content: center;
}

.close{
    border-radius: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    transform: rotate(0);
    transition: .6s ease;
}

.close:hover{
    transform: rotate(360deg);
}