input{
    border-radius: 12px;
    padding: 8px;
    width: 300px;
    margin: 8px;
    color: var(--pink-red);
    box-shadow: -1px -1px black;
    background-color: var(--light-white);
    border: 2px solid black;
}