:root{
  --white: rgb(255, 255, 255);
  --light-blue:  rgb(200, 240, 255);
  --ocean-blue: rgb(0, 98, 255);
  --deep-blue: rgb(0, 20, 88);
  --success-green:  #26ff00;
  font-family: 'Oswald', sans-serif;
  min-height: 100vh;
}

*{
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  justify-content: center;
  align-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  overflow: hidden;

  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  border-radius: 16px;
  border: 3px solid var(--deep-blue);
  background: linear-gradient(to bottom right,var(--ocean-blue), var(--white));
  box-shadow: 5px 5px 65px var(--white);
  padding: 16px;
  width: auto;
  height: auto;

  position: absolute;
  left: 34%;
  top: 15%;
}

.bottomside{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
