:root{
  --light-white:  rgb(219, 219, 219);
  --deep-blue: rgb(0, 98, 255);
  --phantom-green: rgb(0, 246, 172);
  --pink-red: rgb(246, 3, 113);
  font-family: 'Oswald', sans-serif;
}

*{
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen','Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;
  justify-items: center;
  align-items: center;
  margin: 16px;
  padding: 16px;
  border-radius: 16px;
  height: 100%;
  overflow: hidden;

  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  border-radius: 16px;
  background: no-repeat linear-gradient(to bottom right,var(--deep-blue), var(--phantom-green));
  box-shadow: 2px 2px 65px var(--light-white);
  padding: 16px;
  width: auto;
  height: auto;
}

.bottomside{
  display: flex;
  justify-content: flex-start;
  align-content: center;
}
